/**
 * @copyright by Radioactive, Inc 2023
*/

/* Reset All Styles for Elements. */
*, *::before ,*::after{
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #000;
    background-size: cover;
    color: #fff;
    height: 100%;
}