#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0; /* Increase the padding for a larger footer */
  text-align: center;
}

.footer-text {
  font-size: 18px; /* Increase the font size for a larger footer */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer {
    padding: 20px 0; /* Decrease the padding for smaller screens */
  }

  .footer-text {
    font-size: 16px; /* Decrease the font size for smaller screens */
  }
}

/* header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
