/* Reset All Styles for Elements. */
*, *::before ,*::after{
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #000;
    background-size: cover;
    color: #fff;
    height: 100%;
}

/* Header Styles */
header {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    padding: 12px;
    margin: 20px;
    position: sticky;
    z-index: 1;
    top: 2rem;
    outline: 1px solid #fff;
    border-radius: 11px;

    .logo {
        font-size: 12px;
    }
    nav {
        flex-grow: 1;
        text-align: center;

        .nav-links {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
                color: #fff;
                padding: 5px 10px;
                margin-inline-start: 12px;
                font-size: 2.1ch;
                transition: all 0.3s ease;
                &:hover{
                    color: hsl(130, 100%, 55%);
                    margin-bottom: 1px solid;
                }
            }
        }
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 10px;
        transition: all 0.4s ease;
    }
}

/* Footer */
footer{
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;

    max-width: 1400px;
    width: 100vw;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;

    .company {

        .brand{
            color: yellow;
            margin-top: 3px;
            border-bottom: 1px solid;
            width: 50vw;
        }
        img{
            margin: 4.4px;
            height: 300px;
            width: 300px;
            border-radius: 50%;
            object-fit: cover;
            mix-blend-mode: difference;
            animation: icon 15s infinite;
        }
    }

    .socials{

        ul{
            display: flex;
            list-style: none;

            li{
                margin: 10px;
                a{
                    img{
                        height: 25px;
                        width: 25px;
                        margin: 5px;
                    }
                }
            }
        }
    }
}
