/* Second Sass File ~ Global.scss */
/* Header Styles */
header {
    width: 90dvw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    padding: 12px;
    margin: 20px;
    position: sticky;
    z-index: 1;
    top: 2rem;
    box-shadow: 0rem 0rem 4rem 1rem #000;
    outline: 1px solid #fff;
    border-radius: 11px;

    .logo {
        font-size: 12px;
    }
    nav {
        flex-grow: 1;
        text-align: center;

        .nav-links {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
                color: #fff;
                padding: 5px 10px;
                margin-inline-start: 12px;
                font-size: 2.1ch;
                transition: all 0.3s ease;

                &:hover{
                    color: hsl(130, 100%, 55%);
                    margin-bottom: 1px solid;
                }
            }
        }
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 10px;
        transition: all 0.4s ease;
    }
}
@media screen and (max-width: 319px) {
    #root{
        display: none;
    }
}
  
@media screen and (max-width: 480px) {
    header{
        width: 60vw;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(12px);
        padding: 0.75rem;
        margin: 1.25rem;
        position: sticky;
        z-index: 1;
        top: 1.5rem;
    }
}
// @media screen and (min-width: 320px) and (max-width: 480px) {
//     footer{
//         padding: 1.24rem;
//         margin: 0 auto;
//         border-radius: 0;
//         display: flex;
//         flex-direction: row;
//     }
//   }
  
/* Footer */
footer{
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    // max-width: 1400px;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;

    .text{
        margin: 0;
        text-decoration: none;
        padding: 0;
    }

    .company {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // max-width: max-content;

        .brand{
            text-align: justify;
            color: yellow;
            margin-top: 3px;
            margin-bottom: 3px;
            padding: 5px;
            border-bottom: 1px solid;
        }
        
        .sub{
            font-size: 2.2rem;
            color: cyan;
            letter-spacing: -1px;
        }
        .slogan{
            user-select: none;
            padding: 0.5rem;
            outline: 1.2px double #18f796;
            font-family: monospace;
            color: #18f796;
            letter-spacing: 1.5px;
        }  

        @keyframes icon {
            from{
                transform: rotateZ(0deg);
            }
            to{
                transform: rotateZ(-720deg);
            }
        }
        img{
            margin: 4px;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
            mix-blend-mode: difference;
            animation: icon 15s infinite;
        }
    }

    .socials{
        hr{
            background-color: #fff;
            margin-bottom: 12px;
            border-radius: 30px;
            width: 90%;
        }  
        
        ul{
            display: flex;
            list-style: none;

            li{
                margin: 10px;
                a{
                    img{
                        height: 30px;
                        width: 30px;
                        margin: 5px;
                    }
                }
                transition: all 0.2s ease;

                &:hover{
                    box-shadow: 0 0 0.01rem #dedede;
                }
            }
        }
    }
}
