/* Second Sass File ~ Global.scss */
/* Header Styles */
header {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    padding: 12px;
    margin: 20px;
    position: sticky;
    z-index: 1;
    top: 2rem;
    outline: 1px solid #fff;
    border-radius: 11px;

    .logo {
        font-size: 12px;
    }
    nav {
        flex-grow: 1;
        text-align: center;

        .nav-links {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
                color: #fff;
                padding: 5px 10px;
                margin-inline-start: 12px;
                font-size: 2.1ch;
                transition: all 0.3s ease;
                &:hover{
                    color: hsl(130, 100%, 55%);
                    margin-bottom: 1px solid;
                }
            }
        }
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 10px;
        transition: all 0.4s ease;
    }
}

/* Footer */
footer{
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    // max-width: 1400px;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;

    .company {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // max-width: max-content;

        .brand{
            color: yellow;
            margin-top: 3px;
            border-bottom: 1px solid;
        }
        
        .sub{
            font-size: 2.2rem;
            color: cyan;
            letter-spacing: -1px;
        }
        .slogan{
            font-family: monospace;
            color: rgb(24, 247, 150);
        }
        hr{
            background-color: #fff;
            margin-top: 12px;
            border-radius: 30px;
            width: 90%;
        }    
        @keyframes icon {
            from{
                transform: rotateZ(0deg);
            }
            to{
                transform: rotateZ(-720deg);
            }
        }
        img{
            margin: 4px;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
            mix-blend-mode: difference;
            animation: icon 15s infinite;
        }
    }

    .socials{

        ul{
            display: flex;
            list-style: none;

            li{
                margin: 10px;
                a{
                    img{
                        height: 25px;
                        width: 25px;
                        margin: 5px;
                    }
                }
            }
        }
    }
}
