/* First Thing You'll See on Website. */
h1 {
    max-width: 100vmax;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 5rem;
    letter-spacing: -.06em;
    margin-top: 40px;
    margin-bottom: 40px;

    /* Inherit */
    font-family: Arial Nova, sans-serif;
    padding: 20px;
    span{
        font-size: 7rem;
        padding-left: 0.5em;
        padding-right: 0.5em;
        color: #fff;
    }
}

.code, .test, .deploy{
    background: linear-gradient(45deg, cyan, magenta, orange);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    transition: -webkit-text-fill-color 0.4s ease;
}
@keyframes code {
    0% {
        -webkit-text-fill-color: transparent;
        background-position: top left;
    }
    25% {
        -webkit-text-fill-color: transparent;
        background-position: top left;
    }
    50% {
        -webkit-text-fill-color: #fff;
        background-position: bottom right; 
    }
    75% {
        -webkit-text-fill-color: transparent;
        background-position: bottom right;
    }
    100% {
        -webkit-text-fill-color: transparent;
        background-position: top left;
    }
}

/* @keyframes code {
    0%{
        opacity: 0;
        background-position: top left;
    }
    25%{
        opacity: 0.25;
        background-position: top left;
    }
    50%{
        opacity: 0.5;
        background-position: bottom right;
    }
    75%{
        opacity: 0.75;
        background-position: bottom right;
    }
    100%{
        opacity: 1;
        background-position: top left;
    }
} */